.helixmedia_ltimodal_wrapper {
    background-color:#a5cf55;
    border-radius:5px;
    padding:12px 26px 12px 26px;

    border: solid 1px rgba(232,235,240,1);
    cursor: pointer !important;
    box-shadow:var(0 1px 4px rgba(0,0,0,.6));
    transition:var(border-color .4s ease 0s,background-color .4s ease 0s);
    color:black;
}

.helixmedia_ltimodal {
    font:normal normal normal 24px/1.4em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.helixmedia_ltimodal:hover {
    filter: invert(0%) sepia(2%) saturate(2218%) hue-rotate(322deg) brightness(97%) contrast(87%);
}

.helixmedia_ltimodal_text {
    color:black;
}

.helixmedia_ltimodal_text:hover, .helixmedia_ltimodal_link:hover {
    text-decoration:none !important;
}

.helixmedia-border {
    border: 3px solid #000;
    border-radius:10px;
    background:#fff;
    display:block;
    max-width:700px;
    min-width:250px;
    width: fit-content(330px);
}

@media (max-width:600px) {
    .helixmedia_ltimodal {
        font:normal normal normal 22px/1.2em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
    }
}

@media (max-width:480px) {
    .helixmedia_ltimodal {
        font:normal normal normal 20px/1em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
    }
}

@media (max-width:470px) {
    .helixmedia_ltimodal {
        font:normal normal normal 19px/0.95em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
    }
}

@media (max-width:450px) {
    .helixmedia_ltimodal {
        font:normal normal normal 18px/0.9em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
    }
}

.helixmedia_dialog {
    padding-top: 56.25% !important;
}

@media (max-width:801px) {
    .helixmedia_dialog {
        padding-top: 100% !important;
    }
}

.helixmedia_embedheight {
    max-width:1500px;
}
