<!DOCTYPE html>
<html  dir="ltr" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head><title>HML Container</title>
</head>
<body>
<iframe style="margin-left:7px;margin-top:25px;border:0px;background:#ffffff;" width="{{width}}" height="{{height}}" 
   src="{{wwwroot}}/mod/helixmedia/launch.php?course={{course}}&amp;{{{param}}}"
   allow="microphone {{launchurl}}; camera {{launchurl}} display-capture {{medialurl}};"></iframe>
</body>
</html>
