<!DOCTYPE html>
<html  dir="ltr" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head><title>{{#str}} launcher, helixmedia{{/str}}</title></head>
<body>
<p class='{{class}}'>{{message}}</p>
</body>
</html>
