<div class='container pt-0 pb-0'><div class='row'>
    <div class='col-2 p-0'>
        <a id="helixmedia_ltimodalimg_{{preid}}{{extraid}}" href="{{{launchurl}}}" data-toggle='modal' data-target='#mod_helixmedia_modal_{{preid}}{{extraid}}'>
            <img src='{{library}}' alt='' title='{{#str}}openlib, helixmedia{{/str}}' class="img-fluid pb-1" style='max-width:40px'/>
        </a>
    </div><div class='col-10 pr-0 pt-1'><span class='align-middle'>
        <a id="helixmedia_ltimodal_{{preid}}{{extraid}}" href="{{{launchurl}}}" data-toggle='modal' data-target='#mod_helixmedia_modal_{{preid}}{{extraid}}'><strong>{{text}}</strong></a>
    </span></div>
</div></div>
