<div class="d-flex flex-{{flextype}}">
    <div class="p-1">
        <iframe id="mod_helixmedia_thumbframe_{{preid}}" style="border-width:0px;width:200px;height:128px;" scrolling="no" frameborder="0"
            src="{{thumblaunchurl}}"></iframe>
    </div>
    <div class="align-self-start p-1">
        <a class="helixmedia_ltimodal" id="helixmedia_ltimodal_{{preid}}" href="#" data-toggle='modal' data-target='#mod_helixmedia_modal_{{preid}}'>
            <img src='{{imgurl}}' style='width:202px;height:56px;'/>
        </a>
    </div>
</div>
{{>mod_helixmedia/modal}}
