<div class="embed-responsive {{#viewonly}}embed-responsive-16by9 {{/viewonly}}{{#larger}}embed-responsive-1by1 {{/larger}}{{#edit}}helixmedia_dialog{{/edit}}">
   <iframe id="mod_helixmedia_launchframe_{{preid}}{{extraid}}" class="embed-responsive-item overflow-auto border-0" 
       allow="microphone {{medialurl}}; camera {{medialurl}}; display-capture {{medialurl}};"
       allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
</div>
