<script type="text/javascript">
window.open('{{{launchurl}}}','helixmedia');
</script>
<p style='text-align:center;'>{{# str }} hml_in_new_window_message, helixmedia{{/ str }}</p>
<p style='text-align:center;'><a href='{{launchurl}}' target='_blank'>{{# str }}hml_in_new_window, helixmedia{{/ str }}</a></p>
